@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}

<h2>Danh sách vai trò</h2>

@*<p>
    @Html.ActionLink("Tạo mới", "Create", "Roles")
</p>*@

<table class="table">
    <tr>
        <th>
            Tên vai trò
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
        </tr>
    }
</table>

