
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div class="row">
    <div class="col-5">
        Từ trạng thái:
        <input type="text" name="name" class="form-control" value="" />
    </div>
    <div class="col-2"> => </div>
    <div class="col-5">
        Trạng thái hiện tại:
        <input type="text" name="name" class="form-control" value="" />
    </div>
    Đính kèm ảnh
</div>