@{ 
    Layout = null;
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="~/Content/dist/img/AdminLTELogo.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">TOAM</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        @*<div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>*@

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Quản lý nhà thuê
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="~/Houses/Create" class="nav-link">
                                <i class="fas fa-plus nav-icon"></i>
                                <p>Thêm mới</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Houses/Index" class="nav-link">
                                <i class="fas fa-home nav-icon"></i>
                                <p>Danh sách nhà cho thuê</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="~/Transactions" class="nav-link">
                        <i class="nav-icon fas fa-archive"></i>
                        <p>
                            Thông báo thay đổi tài sản
                        </p>
                    </a>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-flag"></i>
                        <p>
                            Thống kê báo cáo
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="~/Report/Index" class="nav-link">
                                <i class="fas fa-sticky-note"></i>
                                <p>Báo cáo thay đổi tài sản</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-users-cog"></i>
                        <p>
                            Quản trị người dùng
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="~/Roles/Index" class="nav-link">
                                <i class="fas fa-user-tag nav-icon"></i>
                                <p>Danh sách vai trò</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Users/Index" class="nav-link">
                                <i class="fas fa-users nav-icon"></i>
                                <p>Quản lý người dùng</p>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>
                            Quản trị hệ thống
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="~/ItemCategories/Index" class="nav-link">
                                <i class="fas fa-boxes nav-icon"></i>
                                <p>Danh mục loại đồ dùng</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/ItemStatus/Index" class="nav-link">
                                <i class="fas fa-battery-half nav-icon"></i>
                                <p>Trạng thái đồ dùng</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/Provinces/Index" class="nav-link">
                                <i class="fas fa-battery-half nav-icon"></i>
                                <p>Danh mục Tỉnh/Thành phố</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/Districs/Index" class="nav-link">
                                <i class="fas fa-battery-half nav-icon"></i>
                                <p>Danh mục quận/huyện</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/Wards/Index" class="nav-link">
                                <i class="fas fa-battery-half nav-icon"></i>
                                <p>Danh mục phường/xã</p>
                            </a>
                        </li>
                    </ul>
                </li>



            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>