@model IEnumerable<WebApplication1.Models.Demo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <button type="submit" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-lg" id="openPopupCreate">
        Create New
    </button>
</p>
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Age)
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#modal-lg" id="openPopupEdit">
                                            Edit
                                        </button>
                                        <button type="submit" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-lg" id="openPopupDetails">
                                            Details
                                        </button>
                                        <button type="submit" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modal-lg" id="openPopupDelete">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<!-- Content Wrapper. Contains page content -->
<div id="myPopup">

</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#openPopupCreate').ready(function () {
                $('#myPopup').load('/Demo/Create')
            })
        })
        $(document).ready(function () {
            $('#openPopupEdit').click(function () {
                $('#myPopup').load('/Demo/Edit/' + 1)
            })
        })
        $(document).ready(function () {  
            $('#openPopupDetails').click(function () {
                $('#myPopup').load('/Demo/Details/' + 1)
            })
        })
        $(document).ready(function () {
            $('#openPopupDelete').click(function () {
                $('#myPopup').load('/Demo/Delete/' + 1)
            })
        })
    </script>
}

