
@{
    ViewBag.Title = "Rent";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Kết quả</h2>

<h5>Yêu cầu thuê thành công, vui lòng đợi kết quả từ quản trị</h5>

<a href="/Home/Index">Trở về trang chủ</a>